# 1. 
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [5]:
n = int(input("Enter the no. of rows: "))  
for i in range(n,0,-1):
    for j in range(1,i+1):
        print("5", end=" ")
    print("\n")

Enter the no. of rows:  5

5 5 5 5 5

5 5 5 5

5 5 5

5 5

5

# 2.
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [6]:
n = int(input("Enter the no. of rows: "))  
for i in range(n,0,-1):
    for j in range(0,i+1):
        print(j, end=" ")
    print("\n")

Enter the no. of rows:  5

0 1 2 3 4 5

0 1 2 3 4

0 1 2 3

0 1 2

0 1

# 3.
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [7]:
n = int(input("Enter the no. of rows: "))  
i = 1  
while i <= n:  
    j = 1   
    while j <= i:  
        print((i * 2 - 1), end=" ")  
        j += 1  
    i += 1  
    print()

Enter the no. of rows:  5

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

# 4. 
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [9]:
n = int(input("Enter the no. of rows: "))  
for i in range(0, n + 1):  
    for j in range(i,0,-1):  
        print(j, end=' ')  
    print()

Enter the no. of rows:  4

1
2 1
3 2 1
4 3 2 1

# 5.
1
3 2
6 5 4
10 9 8 7

In [11]:
a = 1
b = 2
n = b
for row in range(2,6):
    for col in range(a,b):
        n -= 1
        print(n , end = " ")
    print("")
    a = b
    b += row
    n = b

1
3 2
6 5 4
10 9 8 7

# 6.
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [14]:
def printPascal(n):
    for line in range(1, n + 1):
        C = 1;
        for i in range(1, line + 1):
            print(C, end = " ");
            C = int(C * (line - i) / i);
        print("");
n = int(input("Enter the no. of rows: ")) 
printPascal(n);

Enter the no. of rows:  7

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

# 7.
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [15]:
n = int(input("Enter the no. of rows: ")) 
for i in range(1, n + 1):
    for j in range(1, n + 1):
        if j <= i:
            print(i, end=" ")
        else:
            print(j, end=" ")
    print()

Enter the no. of rows:  5

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

# 8.
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [17]:
n = int(input("Enter the no. of rows: ")) 
for i in range(1, n + 1):
    for j in range(1, i + 1):
        square = i * j
        print(i * j, end=" ")
    print()

Enter the no. of rows:  8

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

# 9.
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [22]:
n = int(input("Enter the no. of rows: ")) 
k = 2 * n - 2
for i in range(n, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

Enter the no. of rows:  6

          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *

# 10.
            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *

In [23]:
n = int(input("Enter the no. of rows: "))
m = (2 * n) - 2
for i in range(0, n):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Enter the no. of rows:  7

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

# 11.
        *
        * *
        * * *
        * * * *
        * * * * *
        * * * * * *
        
        * * * * * *
        * * * * *
        * * * *
        * * *
        * *
        *

In [24]:
n = int(input("Enter the no. of rows: "))
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(n + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

Enter the no. of rows:  6

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

# 12.
        *
        * *
        * * *
        * * * *
        * * * * *
        * * * *
        * * *
        * *
        *

In [25]:
n = int(input("Enter the no. of rows: "))
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(n, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

Enter the no. of rows:  5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 13.
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [26]:
n = int(input("Enter the no. of rows: "))
i = 1
while i <= n:
    j = i
    while j < n:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = n
while i >= 1:
    j = i
    while j <= n:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter the no. of rows:  5

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

# 14.
        * * * * *
         * * * *
          * * *
           * *
            *
            *
           * *
          * * *
         * * * *
        * * * * *

In [27]:
n = int(input("Enter the no. of rows: "))
i = 0
while i <= n - 1:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= n - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = n - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= n - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter the no. of rows:  5

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

# 15.
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*

In [28]:
n = int(input("Enter the no. of rows: "))
print("*" * n, end="\n")
i = (n // 2) - 1
j = 2
while i != 0:
    while j <= (n - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

Enter the no. of rows:  14

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*